In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('HomeC.csv')
print(df)

C:\Users\louis\AppData\Local\Temp\ipykernel_11476\3823115798.py:1: DtypeWarning: Columns (0,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('HomeC.csv')

              time  use [kW]  gen [kW]  House overall [kW]  Dishwasher [kW]  \
0       1451624400  0.932833  0.003483            0.932833         0.000033
1       1451624401  0.934333  0.003467            0.934333         0.000000
2       1451624402  0.931817  0.003467            0.931817         0.000017
3       1451624403  1.022050  0.003483            1.022050         0.000017
4       1451624404  1.139400  0.003467            1.139400         0.000133
...            ...       ...       ...                 ...              ...
503906  1452128306  1.599333  0.003233            1.599333         0.000050
503907  1452128307  1.924267  0.003217            1.924267         0.000033
503908  1452128308  1.978200  0.003217            1.978200         0.000050
503909  1452128309  1.990950  0.003233            1.990950         0.000050
503910           \       NaN       NaN                 NaN              NaN

        Furnace 1 [kW]  Furnace 2 [kW]  Home office [kW]  Fridge [kW]  \
0             0.020700        0.061917          0.442633     0.124150
1             0.020717        0.063817          0.444067     0.124000
2             0.020700        0.062317          0.446067     0.123533
3             0.106900        0.068517          0.446583     0.123133
4             0.236933        0.063983          0.446533     0.122850
...                ...             ...               ...          ...
503906        0.104017        0.625033          0.041750     0.005233
503907        0.422383        0.637733          0.042033     0.004983
503908        0.495667        0.620367          0.042100     0.005333
503909        0.494700        0.634133          0.042100     0.004917
503910             NaN             NaN               NaN          NaN

        Wine cellar [kW]  ...  visibility     summary  apparentTemperature  \
0               0.006983  ...       10.00       Clear                29.26
1               0.006983  ...       10.00       Clear                29.26
2               0.006983  ...       10.00       Clear                29.26
3               0.006983  ...       10.00       Clear                29.26
4               0.006850  ...       10.00       Clear                29.26
...                  ...  ...         ...         ...                  ...
503906          0.008433  ...        8.74  Light Rain                29.45
503907          0.008467  ...        8.74  Light Rain                29.45
503908          0.008233  ...        8.74  Light Rain                29.45
503909          0.008133  ...        8.74  Light Rain                29.45
503910               NaN  ...         NaN         NaN                  NaN

        pressure  windSpeed  cloudCover  windBearing  precipIntensity  \
0        1016.91       9.18  cloudCover        282.0           0.0000
1        1016.91       9.18  cloudCover        282.0           0.0000
2        1016.91       9.18  cloudCover        282.0           0.0000
3        1016.91       9.18  cloudCover        282.0           0.0000
4        1016.91       9.18  cloudCover        282.0           0.0000
...          ...        ...         ...          ...              ...
503906   1011.49       6.72        0.31        186.0           0.0101
503907   1011.49       6.72        0.31        186.0           0.0101
503908   1011.49       6.72        0.31        186.0           0.0101
503909   1011.49       6.72        0.31        186.0           0.0101
503910       NaN        NaN         NaN          NaN              NaN

        dewPoint  precipProbability
0          24.40               0.00
1          24.40               0.00
2          24.40               0.00
3          24.40               0.00
4          24.40               0.00
...          ...                ...
503906     31.27               0.51
503907     31.27               0.51
503908     31.27               0.51
503909     31.27               0.51
503910       NaN                NaN

[503911 rows x 32 columns]

In [4]:
df.shape

(503911, 32)

In [5]:
df.head()

,time,use [kW],gen [kW],House overall [kW],Dishwasher [kW],Furnace 1 [kW],Furnace 2 [kW],Home office [kW],Fridge [kW],Wine cellar [kW],...,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,windBearing,precipIntensity,dewPoint,precipProbability
0,1451624400,0.932833,0.003483,0.932833,0.000033,0.020700,0.061917,0.442633,0.124150,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
1,1451624401,0.934333,0.003467,0.934333,0.000000,0.020717,0.063817,0.444067,0.124000,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
2,1451624402,0.931817,0.003467,0.931817,0.000017,0.020700,0.062317,0.446067,0.123533,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
3,1451624403,1.022050,0.003483,1.022050,0.000017,0.106900,0.068517,0.446583,0.123133,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
4,1451624404,1.139400,0.003467,1.139400,0.000133,0.236933,0.063983,0.446533,0.122850,0.006850,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0

In [6]:
df.tail()

,time,use [kW],gen [kW],House overall [kW],Dishwasher [kW],Furnace 1 [kW],Furnace 2 [kW],Home office [kW],Fridge [kW],Wine cellar [kW],...,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,windBearing,precipIntensity,dewPoint,precipProbability
503906,1452128306,1.599333,0.003233,1.599333,0.000050,0.104017,0.625033,0.041750,0.005233,0.008433,...,8.74,Light Rain,29.45,1011.49,6.72,0.31,186.0,0.0101,31.27,0.51
503907,1452128307,1.924267,0.003217,1.924267,0.000033,0.422383,0.637733,0.042033,0.004983,0.008467,...,8.74,Light Rain,29.45,1011.49,6.72,0.31,186.0,0.0101,31.27,0.51
503908,1452128308,1.978200,0.003217,1.978200,0.000050,0.495667,0.620367,0.042100,0.005333,0.008233,...,8.74,Light Rain,29.45,1011.49,6.72,0.31,186.0,0.0101,31.27,0.51
503909,1452128309,1.990950,0.003233,1.990950,0.000050,0.494700,0.634133,0.042100,0.004917,0.008133,...,8.74,Light Rain,29.45,1011.49,6.72,0.31,186.0,0.0101,31.27,0.51
503910,\,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503911 entries, 0 to 503910
Data columns (total 32 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   time                 503911 non-null  object
 1   use [kW]             503910 non-null  float64
 2   gen [kW]             503910 non-null  float64
 3   House overall [kW]   503910 non-null  float64
 4   Dishwasher [kW]      503910 non-null  float64
 5   Furnace 1 [kW]       503910 non-null  float64
 6   Furnace 2 [kW]       503910 non-null  float64
 7   Home office [kW]     503910 non-null  float64
 8   Fridge [kW]          503910 non-null  float64
 9   Wine cellar [kW]     503910 non-null  float64
 10  Garage door [kW]     503910 non-null  float64
 11  Kitchen 12 [kW]      503910 non-null  float64
 12  Kitchen 14 [kW]      503910 non-null  float64
 13  Kitchen 38 [kW]      503910 non-null  float64
 14  Barn [kW]            503910 non-null  float64
 15  Well [kW]            503910 non-null  float64
 16  Microwave [kW]       503910 non-null  float64
 17  Living room [kW]     503910 non-null  float64
 18  Solar [kW]           503910 non-null  float64
 19  temperature          503910 non-null  float64
 20  icon                 503910 non-null  object
 21  humidity             503910 non-null  float64
 22  visibility           503910 non-null  float64
 23  summary              503910 non-null  object
 24  apparentTemperature  503910 non-null  float64
 25  pressure             503910 non-null  float64
 26  windSpeed            503910 non-null  float64
 27  cloudCover           503910 non-null  object
 28  windBearing          503910 non-null  float64
 29  precipIntensity      503910 non-null  float64
 30  dewPoint             503910 non-null  float64
 31  precipProbability    503910 non-null  float64
dtypes: float64(28), object(4)
memory usage: 123.0+ MB

In [8]:
df.describe()

,use [kW],gen [kW],House overall [kW],Dishwasher [kW],Furnace 1 [kW],Furnace 2 [kW],Home office [kW],Fridge [kW],Wine cellar [kW],Garage door [kW],...,temperature,humidity,visibility,apparentTemperature,pressure,windSpeed,windBearing,precipIntensity,dewPoint,precipProbability
count,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,...,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000,503910.000000
mean,0.858962,0.076229,0.858962,0.031368,0.099210,0.136779,0.081287,0.063556,0.042137,0.014139,...,50.741935,0.664085,9.253444,48.263382,1016.301625,6.649936,202.356843,0.002598,38.694013,0.056453
std,1.058207,0.128428,1.058207,0.190951,0.169059,0.178631,0.104466,0.076199,0.057967,0.014292,...,19.113807,0.194389,1.611186,22.027916,7.895185,3.982716,106.520474,0.011257,19.087939,0.165836
min,0.000000,0.000000,0.000000,0.000000,0.000017,0.000067,0.000083,0.000067,0.000017,0.000017,...,-12.640000,0.130000,0.270000,-32.080000,986.400000,0.000000,0.000000,0.000000,-27.240000,0.000000
25%,0.367667,0.003367,0.367667,0.000000,0.020233,0.064400,0.040383,0.005083,0.007133,0.012733,...,35.770000,0.510000,9.420000,31.090000,1011.290000,3.660000,148.000000,0.000000,24.600000,0.000000
50%,0.562333,0.004283,0.562333,0.000017,0.020617,0.066633,0.042217,0.005433,0.008083,0.012933,...,50.320000,0.680000,10.000000,50.320000,1016.530000,5.930000,208.000000,0.000000,39.030000,0.000000
75%,0.970250,0.083917,0.970250,0.000233,0.068733,0.080633,0.068283,0.125417,0.053192,0.013100,...,66.260000,0.840000,10.000000,66.260000,1021.480000,8.940000,295.000000,0.000000,54.790000,0.000000
max,14.714567,0.613883,14.714567,1.401767,1.934083,0.794933,0.971750,0.851267,1.273933,1.088983,...,93.720000,0.980000,10.000000,101.120000,1042.460000,22.910000,359.000000,0.191000,75.490000,0.840000

In [9]:
df.isnull().sum()

time                   0
use [kW]               1
gen [kW]               1
House overall [kW]     1
Dishwasher [kW]        1
Furnace 1 [kW]         1
Furnace 2 [kW]         1
Home office [kW]       1
Fridge [kW]            1
Wine cellar [kW]       1
Garage door [kW]       1
Kitchen 12 [kW]        1
Kitchen 14 [kW]        1
Kitchen 38 [kW]        1
Barn [kW]              1
Well [kW]              1
Microwave [kW]         1
Living room [kW]       1
Solar [kW]             1
temperature            1
icon                   1
humidity               1
visibility             1
summary                1
apparentTemperature    1
pressure               1
windSpeed              1
cloudCover             1
windBearing            1
precipIntensity        1
dewPoint               1
precipProbability      1
dtype: int64

In [10]:
df.columns

Index(['time', 'use [kW]', 'gen [kW]', 'House overall [kW]', 'Dishwasher [kW]',
       'Furnace 1 [kW]', 'Furnace 2 [kW]', 'Home office [kW]', 'Fridge [kW]',
       'Wine cellar [kW]', 'Garage door [kW]', 'Kitchen 12 [kW]',
       'Kitchen 14 [kW]', 'Kitchen 38 [kW]', 'Barn [kW]', 'Well [kW]',
       'Microwave [kW]', 'Living room [kW]', 'Solar [kW]', 'temperature',
       'icon', 'humidity', 'visibility', 'summary', 'apparentTemperature',
       'pressure', 'windSpeed', 'cloudCover', 'windBearing', 'precipIntensity',
       'dewPoint', 'precipProbability'],
      dtype='object')

In [12]:
df["time"] = pd.to_numeric(df["time"], errors="coerce")

In [13]:
df["time"].isnull().sum()

np.int64(1)

In [15]:
df = df.dropna(subset=["time"])
df["timestamp"] = pd.to_datetime(df["time"], unit="s")

In [16]:
df.set_index("timestamp", inplace=True)

In [17]:
df.index = pd.to_datetime(df.index)
df = df.sort_index()

In [18]:
df.index.is_monotonic_increasing

True

In [19]:
df.index[:5]

DatetimeIndex(['2016-01-01 05:00:00', '2016-01-01 05:00:01',
               '2016-01-01 05:00:02', '2016-01-01 05:00:03',
               '2016-01-01 05:00:04'],
              dtype='datetime64[ns]', name='timestamp', freq=None)

In [21]:
df.head()

,time,use [kW],gen [kW],House overall [kW],Dishwasher [kW],Furnace 1 [kW],Furnace 2 [kW],Home office [kW],Fridge [kW],Wine cellar [kW],...,visibility,summary,apparentTemperature,pressure,windSpeed,cloudCover,windBearing,precipIntensity,dewPoint,precipProbability
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-01-01 05:00:00,1.451624e+09,0.932833,0.003483,0.932833,0.000033,0.020700,0.061917,0.442633,0.124150,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
2016-01-01 05:00:01,1.451624e+09,0.934333,0.003467,0.934333,0.000000,0.020717,0.063817,0.444067,0.124000,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
2016-01-01 05:00:02,1.451624e+09,0.931817,0.003467,0.931817,0.000017,0.020700,0.062317,0.446067,0.123533,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
2016-01-01 05:00:03,1.451624e+09,1.022050,0.003483,1.022050,0.000017,0.106900,0.068517,0.446583,0.123133,0.006983,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0
2016-01-01 05:00:04,1.451624e+09,1.139400,0.003467,1.139400,0.000133,0.236933,0.063983,0.446533,0.122850,0.006850,...,10.0,Clear,29.26,1016.91,9.18,cloudCover,282.0,0.0,24.4,0.0

In [22]:
kitchen_cols = ['Dishwasher [kW]','Microwave [kW]','Fridge [kW]','Kitchen 12 [kW]','Kitchen 14 [kW]','Kitchen 38 [kW]']
available_cols = [c for c in kitchen_cols if c in df.columns]
df_kitchen = df[available_cols]

In [23]:
df_kitchen.sum()

Dishwasher [kW]    15806.409510
Microwave [kW]      5534.440218
Fridge [kW]        32026.710600
Kitchen 12 [kW]     1388.448483
Kitchen 14 [kW]     3539.012726
Kitchen 38 [kW]        4.725373
dtype: float64

In [24]:
living_cols = ['Living room [kW]','Home office [kW]']
df_living = df[living_cols]
df_living.sum()

Living room [kW]    17794.476716
Home office [kW]    40961.277962
dtype: float64

In [25]:
heating_cols = ['Furnace 1 [kW]','Furnace 2 [kW]']
df_heating = df[heating_cols]
df_heating.sum()

Furnace 1 [kW]    49993.062333
Furnace 2 [kW]    68924.395621
dtype: float64

In [26]:
utility_cols = ['Garage door [kW]','Barn [kW]','Well [kW]']
df_utility = df[utility_cols]
df_utility.sum()

Garage door [kW]     7124.847316
Barn [kW]           29493.633696
Well [kW]            7882.163852
dtype: float64

In [28]:
df["Kitchen Total [kW]"] = df_kitchen.sum(axis=1)
df["Kitchen Total [kW]"].describe()

count    503910.000000
mean          0.115695
std           0.245459
min           0.000100
25%           0.009917
50%           0.014300
75%           0.132817
max           4.423883
Name: Kitchen Total [kW], dtype: float64

In [29]:
zone_totals = {"Kitchen": df_kitchen.sum().sum(),"Living": df_living.sum().sum(),"Heating": df_heating.sum().sum(),"Utility": df_utility.sum().sum()}
zone_df = pd.DataFrame.from_dict(zone_totals, orient='index', columns=['Total Consumption'])
zone_df.sort_values(by='Total Consumption', ascending=False)

         Total Consumption
Heating      118917.457954
Living        58755.754678
Kitchen       58299.746910
Utility       44500.644864